
<div class="mt-0">
    <!-- table  -->
    <div class="flex flex-col mt-0">
      <div
        class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"
      >
        <div
          class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
        >
          <div
            class="overflow-hidden border-b border-gray-200 sm:rounded"
            >
            <table
              class="min-w-full divide-y divide-gray-200"
            >
              <thead class="bg-blue-50">
                <tr >
                  <th 
                    (click)= "onClickHeader(item)"
                    class="cursor-pointer px-1 py-1 text-center text-xxs md:text-xs font-medium text-gray-500 uppercase tracking-wider border-gray-200 border"
                    *ngFor = "let item of fileHeaders" 
                    >
                    {{ item }}
                  </th>
                </tr>
            
              </thead>
              <tbody *ngFor = "let item of lines"
                class="bg-gray-50 divide-y divide-gray-200"   
              >
               
                <tr  >
                  <td *ngFor = "let cell of fileHeaders; let j = index"
                   class="px-1 h-7 py-1.5 text-center text-xxs whitespace-nowrap text-gray-500 font-mono border-gray-100 border">
                    {{item[j]}} 
                  </td>
                  
                </tr>

                <!-- More items... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>