<!-- schedule section -->
<!-- schedule section to be shown only when tha user clicks Schedule button -->
<div class="pt-5">
	<div class="flex text-gray-600 text-xxs uppercase justify-center">
		Provide Schedule Info
	</div>
	<div class="text-xs pt-2">
		<!-- <app-preview-modal-timezone></app-preview-modal-timezone> -->
		
	</div>
	<div class="text-xs pt-3">
		<app-preview-modal-date-time> 
			
		</app-preview-modal-date-time>

		<div
			class="flex text-indigo-600 text-sm font-semibold uppercase justify-center pt-2"
		>
			{{getScheduleDateInIST()}}
		</div>
	</div>

	
</div>
