<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.smpp.concatenate">
    <resources>
        <resource-root path="smpp-concatenate-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.commonlib.messageidentifier" />
        <module name="com.itextos.beacon.http.interfaceutil" />
        <module name="com.itextos.beacon.smpp.objects" />
        
    </dependencies>
   
</module>
