<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.billing">
    <resources>
        <resource-root path="platform-billing-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.platform.cappingcheck" />
        <module name="com.itextos.beacon.platform.walletprocess" />
        <module name="com.itextos.beacon.platform.messageflowutility" />
         <module name="com.itextos.beacon.platform.dnplayloadutil" />
 
        <module name="com.itextos.beacon.inmemory.clientdlrpreferences" />
        <module name="com.itextos.beacon.inmemory.encryptinfo" />
        <module name="com.itextos.beacon.inmemory.indianp" />
 
        <module name="com.itextos.beacon.inmemory.errorinfo" />
        <module name="com.itextos.beacon.commonlib.componentconsumer" />
        
    </dependencies>
   
</module>
