<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.prometheus.client">
    <resources>
        <resource-root path="simpleclient_httpserver-0.9.0.jar"/>
        <resource-root path="simpleclient_common-0.9.0.jar"/>
        <resource-root path="simpleclient_servlet-0.9.0.jar"/>
        <resource-root path="simpleclient-0.9.0.jar"/>
        
        <!-- Add other dependencies if needed -->
    </resources>

    <dependencies>
    
        <module name="org.apache.commons.lang" />
        <module name="org.apache.commons.logging" />
        <module name="javax.servlet.api" />
 
        <!-- Add dependencies if needed -->
    </dependencies>
</module>
