<!-- template message section -->

<form [formGroup]="newTemplateMsgFormGroup" *ngIf="newTemplateMsgFormGroup">
	<div class="flex justify-between items-center">
	
		<nav class="flex justify-end space-x-1">
			<label *ngIf="msgType" 
				class="inline-flex items-center px-2 py-0.5 text-xs leading-4 font-normal tracking-wide rounded text-green-600 bg-gray-100 focus:outline-none">
				Static
			</label>

			<label *ngIf="!msgType"
				class="inline-flex items-center px-2 py-0.5 text-xs leading-4 font-normal tracking-wide rounded text-green-600 bg-gray-100 focus:outline-none">
				Dynamic
			</label>
			<label
				class="inline-flex items-center px-2 py-0.5 text-xs leading-4 font-normal tracking-wide rounded text-green-600 bg-gray-100 focus:outline-none"
				*ngIf="!Unicode">
				Text
			</label>

			<label
				class="inline-flex items-center px-2 py-0.5 text-xs leading-4 font-normal tracking-wide rounded text-green-600 bg-gray-100 focus:outline-none"
				*ngIf="Unicode">
				Unicode
			</label>
		</nav>
			<button *ngIf="templateMsg.length > 0 && !msgType" type="button" (click)="openModal()"
			class="inline-flex items-center ml-2 px-1 py-1 text-medium leading-4 font-medium tracking-wide rounded-md text-red-600 hover:underline focus:outline-none">
			<!-- Heroicon name: solid/mail -->
			<svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
				<path fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd" />
			</svg>

			Clear
		</button>
	</div>
	<!-- Preview for static-->
	<div class="mt-3" *ngIf="apiIsStaticFlag == 1 && templateMsg.length >0 ">
	

			<div class="mt-4 space-y-2">
				<div
					class="bg-blue-50 text-blue-500 p-2 whitespace-pre-wrap"
				>
					{{templateMsg}}
				</div>
			</div>
		
	</div>
	
	<!-- Template for Dynamic-->
	<div class="mt-3" *ngIf="apiIsStaticFlag == 0">
	
		<div class="mt-0">
			<textarea id="newmessage" name="newmessage" formControlName="newmessage" (keyup)="onKeyPress($event)"
				(paste)="onBlurEvent($event)" [ngClass]="{'border-red-300': newmessage.touched && newmessage.errors}" rows="5"
				placeholder="Enter template message"
				class="shadow-sm placeholder-gray-300 focus:ring-indigo-500 text-gray-700 focus:border-indigo-500 block w-full text-xs border-gray-300 rounded-md">

                </textarea>
				<div class="sm:col-span-6 text-xs pt-4"  *ngIf="checking" >
					<div class="rounded-md bg-yellow-50 p-2 mt-4 border border-yellow-400 border-dashed">
						<div class="flex items-center">
							<div class="flex-shrink-0"></div>
				<div class="ml-3 flex-1 md:flex md:justify-between">
					<p class="text-xs text-gray-500 font-medium">Warning! <span
							class="italic font-semibold">Your are changing the original content of the template</span> </p>
				</div>
			</div>
			</div>
		</div>
		</div>



		<p class="mt-2 text-xxs sm:text-xs text-red-600" id="name-error"
			*ngIf="(newmessage.errors?.minLengthInvalid) || (newmessage.touched && newmessage.errors?.required)">
			Template Message is required
		</p>
		<p class="mt-2 text-xxs sm:text-xs text-gray-500"
			*ngIf="(!newmessage.touched && newmessage.errors?.required) ||  !newmessage.errors">
			{{msgInfoText}}
		</p>

	</div>
</form>

<app-clear-modal [title]="'Clear Message'" [confirmationMessage]="'Are you sure you want to clear out message area?'"
	[confirmLable]="'Clear'" (clearModalResponse)="clearModalResponse($event)" *ngIf="openClearModal">
</app-clear-modal>