<div class="flex items-center">
  <a 
  (click) = "onDelete()" 
  class="text-red-500 p-2 border-transparent border bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 hover:bg-gray-200 cursor-pointer rounded focus:outline-none focus:ring-2 focus:ring-offset-2 border-indigo-50" href="javascript: void(0)" tooltip="Delete" [options]="myOptions"> 
  
  <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="4" y1="7" x2="20" y2="7" />
        <line x1="10" y1="11" x2="10" y2="17" />
        <line x1="14" y1="11" x2="14" y2="17" />
        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
    </svg>
</a>
</div>

    <app-deletemodal
    
    [showDeleteModal]="showDeleteModal"
    [confirmationMessage]="confirmationMessage"
    [deleteListName]="deleteListName"
    [deletingLoader]= "deletingLoader"
    (deleteModalResponse)="deletemodal($event)">

    </app-deletemodal>
  