<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.ic">
    <resources>
        <resource-root path="common-accountsync"/>
    </resources>
    <dependencies>
        <module name="com.itextos.beacon.commonlib.redis" />
        <module name="com.itextos.beacon.commonlib.dbpool" />
        <module name="com.itextos.beacon.commonlib.pwdencryption" />
        
    </dependencies>
</module>
