<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.http.interfaceparameters">
    <resources>
        <resource-root path="http-interfaceparameters-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.inmemory.loader" />
         
    </dependencies>
   
</module>
