<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.errorlogt2tb">
    <resources>
        <resource-root path="platform-errorlogt2tb-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.platform.topic2table" />
        <module name="com.itextos.beacon.commonlib.apperrorhandler" />
        
    </dependencies>
   
</module>
