<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.unitia.ejbserver">
     <resources>
        <resource-root path="unitia-ejbserver-1.0.jar"/>
        <resource-root path="thirdpartyjar-1.0.jar"/>
        
        <!-- Add additional JAR files or resources here if needed -->
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.ejb.api"/>
        <!-- Add other dependencies if needed -->
    </dependencies>
</module>
