<form *ngIf="addressFormGroup" [formGroup]="addressFormGroup">	
<input type="text"  name="address" formControlName = "address" id="address"
[ngClass]="{'border-red-300': address.touched && address.errors}" 
class="block shadow-sm w-full bg-[#f5f8fa] text-sm sm:py-2.5 pr-10 text-gray-600 placeholder-gray-400 focus:outline-none border-gray-200 rounded-md" placeholder="" value="" aria-invalid="true" aria-describedby="name-error" />

<app-error-display
[formGroup]="addressFormGroup"
[controlName]="'address'"
[fieldInfoText] = "addrInfoText"
[minimumLength] = "genericOptimalMinLength"
[maximumLength] = "addressMaxLength"
></app-error-display>
</form>