<form *ngIf="pwdFormGroup" [formGroup]="pwdFormGroup">	
    <div>
        <div class="text-lg font-semibold text-gray-700">Change Password</div>
        <div class="flex items-center justify-between lg:space-y-0 lg:flex-row mt-8 w-full"
        *ngIf = "!hideTop">
            <div class="flex flex-col space-y-1 w-full">
                <span class="mb-3 text-sm leading-none text-gray-700 font-semibold w-full">Password</span>
                <span class="mb-3 text-sm leading-none text-gray-400 font-medium w-full">************</span>
            </div>
            <div class="flex w-1/2 justify-end">
                <button 
                (click) = "onClickReset()"
                type="button" class="items-center py-2 px-4 border border-transparent shadow-sm text-xs font-semibold rounded bg-blue-500 hover:bg-blue-600 text-white   focus:outline-none focus:ring-2 focus:ring-offset-2">
                    <span class="text-sm">Reset Password</span>
                </button>
            </div>
        </div>
        <!-- password section -->
        <div class="flex flex-col space-y-3 lg:space-y-0 lg:flex-row mt-8"
        *ngIf = "hideTop">
            <div class="md:flex-col md:mr-1 w-full relative">
                <label class="mb-3 text-sm leading-none text-gray-700 font-medium w-full">Current Password<span class="text-red-500">*</span></label>
                <input type="password" 
                formControlName = "currentPwd"
                (blur) = "verifyPassword()"                
                name="currentPwd" id="currentPwd" 
                [ngClass]="{'border-red-300': (currentPwd.touched && invalidPwd )|| isEmptyPwd || (!verifySpinner && apiError)}"
                class="block shadow-sm w-full bg-[#f5f8fa] text-sm sm:py-2.5 pr-10 text-gray-600 placeholder-gray-400 focus:outline-none border-gray-200 rounded-md" placeholder="" value="" aria-invalid="true" aria-describedby="name-error" />
                
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <!-- loader icon 2 -->
                    <svg class="animate-spin text-gray-900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                    *ngIf="verifySpinner">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g>
                                <polygon points="0 0 24 0 24 24 0 24" />
                            </g>
                            <path class="opacity-25" d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z" fill="currentColor" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) " />
                        </g>
                    </svg>
                </div>
                <p class="mt-2 text-xxs sm:text-xs text-red-400" id="name-error" *ngIf = "(invalidPwd && currentPwd.touched)">Invalid password</p>
                <p class="mt-2 text-xxs sm:text-xs text-red-400" id="name-error" *ngIf = "isEmptyPwd">{{oldPasswordReqd}}</p>
                <p class="mt-2 text-xxs sm:text-xs text-red-400" id="name-error" *ngIf = "(!verifySpinner && apiError)">{{verifyPasswordServerErr}}</p>
                
            </div>
            <div class="md:flex-col ml-0 lg:ml-4 md:mt-0 w-full">
                <label class="mb-3 text-sm leading-none text-gray-700 font-medium w-full">New Password<span class="text-red-500">*</span></label>
                <input type="password" 
                formControlName = "newPwd1"
                (blur) ="testAllPassword()"
                name="newPwd1" id="newPwd1"
                [ngClass]="{'border-red-300': newPwd1.touched && newPwd1.errors}"
                class="block shadow-sm w-full bg-[#f5f8fa] text-sm sm:py-2.5 pr-10 text-gray-600 placeholder-gray-400 focus:outline-none border-gray-200 rounded-md" placeholder="" value="" aria-invalid="true" aria-describedby="name-error" />
                <app-error-display
                [formGroup]="pwdFormGroup"
                [controlName]="'newPwd1'"
                [fieldName]="'Password'"
                [fieldInfoText] = "infoText"
                [maximumLength] = "maxLength"
                ></app-error-display>
                <p class="mt-2 text-xxs sm:text-xs text-red-400" id="name-error" *ngIf = "newPwd1.value != null && newPwd1.value.length > 0 && camparePwd && newPwd1.touched">{{camparePwdMsg}}</p>
                
            </div>
            
            
            <div class="md:flex-col ml-0 lg:ml-4 md:mt-0 w-full">
                <label class="mb-3 text-sm leading-none text-gray-700 font-medium w-full">Confirm New Password<span class="text-red-500">*</span></label>
                <input type="password" 
                formControlName = "newPwd2"
                (blur) ="checkBothPwd()"
                name="newPwd2" id="newPwd2" 
                [ngClass]="{'border-red-300': newPwd2.touched && newPwd2.errors}"
                class="block shadow-sm w-full bg-[#f5f8fa] text-sm sm:py-2.5 pr-10 text-gray-600 placeholder-gray-400 focus:outline-none border-gray-200 rounded-md" placeholder="" value="" aria-invalid="true" aria-describedby="name-error" />
                <app-error-display
                [formGroup]="pwdFormGroup"
                [controlName]="'newPwd2'"
                [fieldName]="'Password'"
                [fieldInfoText] = "infoText"
                [maximumLength] = "maxLength"
                ></app-error-display>
                <p class="mt-2 text-xxs sm:text-xs text-red-400" id="name-error"
                 *ngIf = "newPwd2.value != null && newPwd2.value.length > 0 && misspelledNewPwd && newPwd2.touched">{{misspelledNewPwdMsg}}</p>
                
            </div>
        </div>
        
    </div>

    <!-- button section -->
    <div class="flex justify-end mt-10 border-t pt-2 border-gray-200"
    *ngIf = "hideTop">
        <div class="flex space-x-4">
            <button type="button" 
           (click) = "onClickCancel()"
            class="hover:text-white text-white bg-gray-600 hover:bg-gray-700 md:ml-3 inline-flex items-center space-x-2 justify-center py-2 px-4 border border-transparent shadow-sm text-xs font-semibold rounded   focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                <span class="text-sm">Cancel</span>
            </button>
            
            <button 
            (click) = "onClickButton()"
            type="button" 
            [ngClass]=" (pwdFormGroup.dirty)  ? ' bg-blue-500 hover:bg-blue-600 text-white focus:ring-2 focus:ring-offset-2 focus:ring-blue-500':'bg-blue-500 opacity-50 cursor-not-allowed focus:outline-none' "
            class="md:ml-3 inline-flex items-center space-x-2 justify-center py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="text-sm" *ngIf="!spinner">Update Password</span>
                <span *ngIf="spinner">Updating</span>
				<app-spinner-on-button *ngIf="spinner"></app-spinner-on-button>								

            </button>
        </div>
    </div>
</form>

<app-create-popup
*ngIf="popup"
[inputForm]="pwdFormGroup"
[Responce]="response"
[status]="status"
(closePopUp)="modalClose($event)"
(successPopUp)="modalcontinue($event)"
(tryAgainPopUp)="tryAgain($event)"
></app-create-popup>
