<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.messagetool">
    <resources>
        <resource-root path="platform-messagetool-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.inmemory.appconfigparams" />
        <module name="com.itextos.beacon.inmemory.indianp" />
        <module name="com.itextos.beacon.inmemory.messageutility" />

        <module name="com.itextos.beacon.inmemory.msgtemplates" />
        <module name="com.itextos.beacon.commonlib.messageobject" />
        
    </dependencies>
   
</module>
