<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.blockoutprocess">
    <resources>
        <resource-root path="platform-blockoutprocess-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.inmemory.appconfigparams" />
        <module name="com.itextos.beacon.inmemory.specificblockoutdata" />

        <module name="com.itextos.beacon.commonlib.messageobject" />
        <module name="com.itextos.beacon.commonlib.pattern" />
        
    </dependencies>
   
</module>
