
	<form *ngIf="senderIdFormGroup" [formGroup]="senderIdFormGroup">	
		<label
			for="senderid"
			class="block font-semibold text-gray-700"
			>Senderid
			<span class="text-red-600">*</span>
		</label>
		<div class="my-2">
			<ng-select 
			id="senderid"
			[placeholder]="placeHolder"
			name="senderId"
			formControlName="senderId"
			[items]="itemList"
			[hideSelected]="true"
			(change)="onItemChange($event)"
			[editableSearchTerm]="true"	
			autocomplete="off"
			
			class="shadow-sm text-xs text-gray-700 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:w-1/2 border-gray-300 rounded-md"
			>
			</ng-select>
		</div>
		<button (click)="focus()">click set focus </button>
		<p
			class="mt-2 text-xxs sm:text-xs text-red-600"
			*ngIf="senderId.touched && senderId.errors?.required"
			
		>
			Sender Id is required
		</p>
		<p
			class="mt-2 text-xxs sm:text-xs text-gray-500"
			*ngIf="(!senderId.touched && senderId.errors?.required) || (senderId.touched && !senderId.errors)"
			
		>
			{{senderIdInfoText}}
		</p>
	</form>

