<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.kubernetes.client-java">
    <resources>
        <resource-root path="client-java-15.0.1.jar"/>
        <!-- Add other dependencies if needed -->
    </resources>

    <dependencies>
        <!-- Add dependencies if needed -->
    </dependencies>
</module>
