<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.sbccore">
    <resources>
        <resource-root path="platform-sbccore-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.inmemory.appconfigparams" />
        <module name="com.itextos.beacon.commonlib.componentconsumer" />
        <module name="com.itextos.beacon.commonlib.apperrorhandler" />

        <module name="com.itextos.beacon.plaform.messageflowutility" />
        
    </dependencies>
   
</module>
