<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.http.interfaceutil">
    <resources>
        <resource-root path="http-interfaceutil-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.inmemory.data" />
        <module name="com.itextos.beacon.inmemory.appconfigparams" />
        <module name="com.itextos.beacon.inmemory.countryinfo" />

        <module name="com.itextos.beacon.commonlib.utility" />
        <module name="com.itextos.beacon.commonlib.componentconsumer" />
        <module name="com.itextos.beacon.http.interfacefallback" />
         
    </dependencies>
   
</module>
