<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.walletbase">
    <resources>
        <resource-root path="platform-walletbase-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.commonlib.messageobject" />
        <module name="com.itextos.beacon.commonlib.constants" />
        <module name="com.itextos.beacon.commonlib.utility" />
        <module name="com.itextos.beacon.commonlib.commondbpool" />
        <module name="com.itextos.beacon.platform.decimalutility" />
       
    </dependencies>
   
</module>
