<div class="rounded min-h-screen space-y-4">
    <div class="w-full flex flex-col items-center">
        <div class="w-full pb-3 px-2">
            <div 
                class="flex justify-start space-x-6">
                
                <div class="bg-gray-300 h-5 w-1/4 animate-pulse"></div>
                <div class="bg-gray-300 h-5 w-1/4 animate-pulse"></div>
                <div class="bg-gray-300 h-5 w-1/4 animate-pulse"></div>
            </div>
        </div>
    </div>

    <!-- account info card -->
    <div class="w-full flex flex-col items-center">
        <div class="w-full bg-white p-6 shadow rounded-md pb-8">

            <div class="md:flex mt-8">
                <div class="md:flex-col md:mr-4 md:w-1/2">
                    <div class="bg-gray-300 h-5 animate-pulse"></div>
                    <div class="bg-white h-10 "></div>
                </div>
                <div class="md:flex-col ml-0 md:ml-4 md:mt-0 md:w-1/2">
                   <div class="bg-gray-300 h-5 animate-pulse"></div>
                   <div class="bg-white h-10 "></div>
                </div>
            </div>

            <div class="md:flex mt-8">
                <div class="md:flex-col md:mr-4 md:w-1/2">
                    <div class="bg-gray-300 h-5 animate-pulse"></div>
                    <div class="bg-white h-10 "></div>
                </div>
                <div class="md:flex-col ml-0 md:ml-4 md:mt-0 md:w-1/2">
                   <div class="bg-gray-300 h-5 animate-pulse"></div>
                   <div class="bg-white h-10 "></div>
                </div>
            </div>
            <div class="md:flex mt-8">
                <div class="md:flex-col md:mr-4 md:w-1/2">
                    <div class="bg-gray-300 h-5 animate-pulse"></div>
                    <div class="bg-white h-10 "></div>
                </div>
                <div class="md:flex-col ml-0 md:ml-4 md:mt-0 md:w-1/2">
                   <div class="bg-gray-300 h-5 animate-pulse"></div>
                   <div class="bg-white h-10 "></div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- dlt card -->
    <div  class="w-full flex flex-col items-center">
        <div class="w-full bg-white p-6 shadow rounded-md pb-8">
            <div class="md:flex mt-8">
                <div class="md:flex-col md:mr-4 md:w-1/2">
                    <div class="bg-gray-300 h-5 animate-pulse"></div>
                    <div class="bg-white h-10 "></div>
                </div>
                <div class="md:flex-col ml-0 md:ml-4 md:mt-0 md:w-1/2">
                   <div class="bg-gray-300 h-5 animate-pulse"></div>
                   <div class="bg-white h-10 "></div>
                </div>
            </div>
        </div>
    </div>
  
  
</div>