
    <div 
    class="py-1 px-2 sm:top-1 top-1 absolute right-0  flex items-center justify-center rounded-tl-sm rounded-bl-sm">
    <div class="sm:pt-0 pt-4">
        <div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div>
        <!-- <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 pt-1 text-gray-800 dark:text-gray-100">Campaign Name 1</p> -->
        <div class="flex space-x-1 items-center mt-2">
            <div class="bg-gray-200 h-4 w-1/5 animate-pulse"></div>
        </div>
    </div>

    </div>

    <div class="flex flex-col space-y-0.5 pb-2">
            <div class="sm:pt-0 pt-4">
            <div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div>
            <!-- <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 pt-1 text-gray-800 dark:text-gray-100">Campaign Name 1</p> -->
            <div class="flex space-x-1 items-center mt-2">
                <div class="bg-gray-200 h-4 w-1/5 animate-pulse"></div>
            </div>
        </div>
    </div>
    <div class="flex flex-col space-y-0.5 pt-6">
        <div class="flex flex-col">
            <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div></div>
        </div>
    </div>
    <div class="w-full rounded-sm mt-3">
        <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-full animate-pulse"></div></div>
    </div>
    <div class="flex flex-col space-y-0.5 pt-6">
        <div class="flex flex-col">
            <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div></div>
        </div>
    </div>
    <div class="w-full rounded-sm mt-3">
        <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-full animate-pulse"></div></div>
    </div>
    <div class="flex flex-col space-y-0.5 pt-6">
        <div class="flex flex-col">
            <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div></div>
        </div>
    </div>
    <div class="w-full rounded-sm mt-3">
        <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-full animate-pulse"></div></div>
    </div>
    <div class="flex flex-col space-y-0.5 pt-6">
        <div class="flex flex-col">
            <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div></div>
        </div>
    </div>
    <div class="w-full rounded-sm mt-3">
        <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-full animate-pulse"></div></div>
    </div>
    <div class="flex flex-col space-y-0.5 pt-6">
        <div class="flex flex-col">
            <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div></div>
        </div>
    </div>
    <div class="w-full rounded-sm mt-3">
        <div class="sm:pt-0 pt-6"><div class="bg-gray-200 h-5 w-full animate-pulse"></div></div>
    </div>

