<!-- campaign loading skeleton -->
<div class=" max-w-7xl mx-auto px-4 sm:px-6 md:px-8 mt-2">
    <!-- Replace with your content -->
    <!-- card section -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
        <!-- card 1 -->
        <div class="rounded shadow p-4 relative bg-white">
            <div class="sm:flex items-start">
                <div class="ml-4 w-full">
                    <div class="sm:pt-0 pt-4">
                        <div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div>
                        <!-- <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 pt-1 text-gray-800 dark:text-gray-100">Campaign Name 1</p> -->
                        <div class="flex space-x-1 items-center mt-2">
                            <div class="bg-gray-200 h-4 w-1/5 animate-pulse"></div>
                        </div>
                    </div>

                    <div class="mt-4 pr-4 sm:pr-0 space-y-1">
                        <div class="bg-gray-200 h-5 animate-pulse"></div>
                        <div class="bg-gray-200 w-1/3 h-5 animate-pulse"></div>
                    </div>

                    <div class="sm:flex items-center mt-6 space-x-0 md:space-x-4">
                        <div tabindex="0" class="focus:outline-none flex items-center w-full space-x-2">
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 2 -->
        <div class="rounded shadow p-4 relative bg-white">
            <div class="sm:flex items-start">
                <div class="ml-4 w-full">
                    <div class="sm:pt-0 pt-4">
                        <div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div>
                        <!-- <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 pt-1 text-gray-800 dark:text-gray-100">Campaign Name 1</p> -->
                        <div class="flex space-x-1 items-center mt-2">
                            <div class="bg-gray-200 h-4 w-1/5 animate-pulse"></div>
                        </div>
                    </div>

                    <div class="mt-4 pr-4 sm:pr-0 space-y-1">
                        <div class="bg-gray-200 h-5 animate-pulse"></div>
                        <div class="bg-gray-200 w-1/3 h-5 animate-pulse"></div>
                    </div>

                    <div class="sm:flex items-center mt-6 space-x-0 md:space-x-4">
                        <div tabindex="0" class="focus:outline-none flex items-center w-full space-x-2">
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 3 -->
        <div class="rounded shadow p-4 relative bg-white">
            <div class="sm:flex items-start">
                <div class="ml-4 w-full">
                    <div class="sm:pt-0 pt-4">
                        <div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div>
                        <!-- <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 pt-1 text-gray-800 dark:text-gray-100">Campaign Name 1</p> -->
                        <div class="flex space-x-1 items-center mt-2">
                            <div class="bg-gray-200 h-4 w-1/5 animate-pulse"></div>
                        </div>
                    </div>

                    <div class="mt-4 pr-4 sm:pr-0 space-y-1">
                        <div class="bg-gray-200 h-5 animate-pulse"></div>
                        <div class="bg-gray-200 w-1/3 h-5 animate-pulse"></div>
                    </div>

                    <div class="sm:flex items-center mt-6 space-x-0 md:space-x-4">
                        <div tabindex="0" class="focus:outline-none flex items-center w-full space-x-2">
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 4 -->
        <div class="rounded shadow p-4 relative bg-white">
            <div class="sm:flex items-start">
                <div class="ml-4 w-full">
                    <div class="sm:pt-0 pt-4">
                        <div class="bg-gray-200 h-5 w-1/2 animate-pulse"></div>
                        <!-- <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 pt-1 text-gray-800 dark:text-gray-100">Campaign Name 1</p> -->
                        <div class="flex space-x-1 items-center mt-2">
                            <div class="bg-gray-200 h-4 w-1/5 animate-pulse"></div>
                        </div>
                    </div>

                    <div class="mt-4 pr-4 sm:pr-0 space-y-1">
                        <div class="bg-gray-200 h-5 animate-pulse"></div>
                        <div class="bg-gray-200 w-1/3 h-5 animate-pulse"></div>
                    </div>

                    <div class="sm:flex items-center mt-6 space-x-0 md:space-x-4">
                        <div tabindex="0" class="focus:outline-none flex items-center w-full space-x-2">
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                            <div class="bg-gray-200 w-1/4 h-5 animate-pulse"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>