<div class="sm:col-span-6 text-xs pt-4">
	<div
		class="relative sm:col-span-6 p-4 bg-gray-100 border-gray-300 border-2 border-dashed bg-opacity-40 mt-2 rounded-2xl shadow-sm"
	>
		<div class="flex justify-start flex-col mt-2 space-y-2">
			<div class="flex justify-between items-center relative mb-3">
				<div class="bg-gray-200 h-5 w-1/4 my-3 animate-pulse"></div>
			</div>
			<div
				class="flex flex-col space-y-3 md:space-y-0 md:flex-row md:justify-between md:items-center"
			>
				<div class="bg-gray-200 h-5 my-3 w-1/2 animate-pulse"></div>
			</div>

			<div
				class="flex flex-col space-y-3 md:space-y-0 md:flex-row md:justify-space-between md:items-center"
			>
				<div class="bg-gray-200 h-5 my-3 w-3/4 animate-pulse"></div>
			</div>
		</div>
	</div>
</div>
