<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.commonlib.apperrorhandler">
    <resources>
        <resource-root path="common-apperrorhandler-1.0.jar"/>
    </resources>
    <dependencies>
        <module name="javax.servlet.api" />
        <module name="org.apache.commons.logging" />
        
    </dependencies>
</module>
