<div class="flex justify-between items-center">
    <span class="text-gray-400 text-xxs uppercase"
      >Message</span
    >
    <span
      class="text-xxs text-gray-600 bg-yellow-100 p-0.5 px-1 rounded"
      >{{ campaignMsg.newLineCount }} newline char</span
    >
  </div>
  <div class="items-center py-2 text-xxs rounded">
    <div
      class="flex text-gray-600 lowercase tracking-wide justify-between space-x-2"
    >
      <div  *ngIf="textToDisplay">
        <span
          class="font-medium text-indigo-500 bg-graytrue-100 p-0.5 px-1 rounded"
          >{{ textToDisplay }}</span
        >
      </div>
      <div>
        <span
          class="font-medium text-indigo-500 bg-graytrue-100 p-0.5 px-1 rounded"
          >{{campaignMsg.charCount}} </span
        >
        chars
      </div>
      <div>
        <span
          class="font-medium text-indigo-500 bg-graytrue-100 p-0.5 px-1 rounded"
          >{{campaignMsg.partsCount}}</span
        >
        parts
      </div>
    </div>
  </div>
  <span class="text-gray-600 text-sm font-medium multiline"
    >{{campaignMsg.msgContent}}
  </span>