<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.prepaiduidata">
    <resources>
        <resource-root path="platform-prepaiduidata-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.inmemory.data" />
        <module name="com.itextos.beacon.commonlib.redisconnectionprovider" />
        <module name="com.itextos.beacon.inmemory.accountdetails" />
        <module name="com.itextos.beacon.platform.decimalutility" />
        
    </dependencies>
   
</module>
