<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.itextos.beacon.platform.rccore">
    <resources>
        <resource-root path="platform-rccore-1.0.jar"/>
    </resources>
     <dependencies>
        <module name="com.itextos.beacon.inmemory.routeinfo" />
        <module name="com.itextos.beacon.inmemory.indianp" />
        <module name="com.itextos.beacon.inmemory.indianp" />
        <module name="com.itextos.beacon.inmemory.commonheaders" />
        <module name="com.itextos.beacon.inmemory.clientallowedheaders" />
        <module name="com.itextos.beacon.inmemory.msgvalidity" />


        <module name="com.itextos.beacon.inmemory.governmentheaders" />
        <module name="com.itextos.beacon.inmemory.whitelistnumbers" />
        <module name="com.itextos.beacon.inmemory.customfeatures" />

        <module name="com.itextos.beacon.inmemory.messageutility" />

        <module name="com.itextos.beacon.commonlib.componentconsumer" />
        
        <module name="com.itextos.beacon.platform.faillistutil" />
        <module name="com.itextos.beacon.platform.messageflowutility" />
        
    </dependencies>
   
</module>
